body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 0 10px;
}

.container {
    margin: 10px auto;
    padding: 10px;
    max-width: 1000px;
    min-height: 600px;
    box-shadow: 0px 1px 4px #aaa;
    background-color: #fff;
    border-radius: 2px;
}

.center {
    text-align: center;
}

.debug-me {
    display: none;
}

.menu-links {
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
}
.menu-links * {
    padding: 0 10px;
}

.page-title {
    text-align: center;
    margin: 10px 0;
}
.page-body {
    margin: 40px 0;
}

#user-form {
    max-width: 400px; 
    margin: auto;
}

.input-group {
    margin-bottom: .8em;
}

.input-group * {
    display: block;
    width: 100%;
    padding: 2px 0;
    font-size: 16px;
}

label.error {
    background-color: #fedec8;
    padding: 2px 10px;
    border-radius: 0 0 2px 2px;
}

.input-group input, .input-group select {
    padding: .3em .5em;
    border: 1px solid #aaa;
    border-radius: 2px;
}
.input-group [type="checkbox"] {
    width: auto;
}
.input-group input[type="submit"] {
    cursor: pointer;
    background-color: #ccc !important;
}
.input-group input[type="submit"]:hover {
    background-color: #aaa !important;
}

.input-group select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/221782-200.png');
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: .9em, 100%;
}

table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
}

.table.responsive {
    overflow-x: scroll;
}

table.stripped tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th,
table td {
    padding: 10px;
}

table th {
    background-color: #ddd;
}

table tr:hover, 
table.stripped tr:hover 
{
    background-color: #eff3ff !important;
}

table.stripped tr.user-inactive {
    text-decoration: line-through;
    /*background-color: #fff9ed;*/
}

table th {
    text-align: left;
}